*{
    padding: 0;
    margin: 0;
}

.second nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0b9c698b;
 
    padding: 10px 15px;
    /* width: 100%; */
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.second nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: transparent;
}

.second nav li {
  display: inline-block;
  margin-right: 20px;
}

.second nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.second nav a::before {
  content: "";
   position: absolute; 
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.second nav a:hover::before {
  width: 100%;
}

.login-btn,
.signup-btn {
  display: inline-block;
  background-color: #102e44;
  text-decoration: none;
  color: #fff;
  padding: 8px 20px;
  border: 2px solid#2cd9ff;
  border-radius: 8px;
  cursor: pointer;
}
@keyframes pulse {
  from{
    box-shadow: 
    0 0 25px #7effb2,
    0 0 50px #2cd9ff;
  }
}

.login-btn:focus,
.signup-btn:focus{
  animation: pulse 0.5s ease-in-out;
}