body{
    background-color: black;
    color: aliceblue;
}

h1{
    text-align: center;
    font-size: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
    overflow: hidden;
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 12px 24px rgba(0,0,0,0.3);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    color: #000;
}

.card p {
    font-size: 18px;
    margin: 10px;
}

.card button{
    background-color: red;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}


.m_beach a{
    display: block;
    text-align: center;
    margin-top: 15px;
}

.amari a,.retreat a,.fox a {
    display: block;
    margin-top: -40px;
    text-align: center;
}


.m_beach img,
.retreat img{
    width: 500px;
    height: 250px;
    float: left;
    border-radius: 10px;
    margin: 15px;
}

.m_beach h2,
.retreat h2{
    margin:15px
}

.m_beach p,
.retreat p{
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin: 75px 0 0 0;
}

.m_beach button,
.retreat button{
    justify-content: center;
    align-content: center;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    background-color: aqua;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    text-align: center;
  
}

.amari img,
.fox img{
    width: 500px;
    height: 250px;
    float: right;
    border-radius: 10px;
    margin: 15px;
}

.amari h2,
.fox h2{
    margin:15px
}

.amari p,
.fox p{
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin: 75px 0 0 0;
}

.amari button,
.fox button{
    justify-content: center;
    align-content: center;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    background-color: aqua;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    text-align: center;
}



